* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  color: white;
}

.ipn {
  border: 2px solid;
  position: relative;
  left: 225px;
  top: 116px;
}

.red_border {
  outline-color: 2px solid red;
}

.green_border {
  outline-color: 2px solid green;
}

center {
  display: flex;
  justify-content: center;
}

form {
  margin: 47px;
  display: flex;
  flex-direction: column;

  width: 17%;
}

input {
  margin: 10px;
  height: 40px;
  border-radius: 3px;
}

p {
  font-size: 15px;
  display: flex;
  margin-left: 14px;
}

.error {
  background-image: url(../img_error/error\ warning.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

button {
  background: #4200FF;
  border-color: #4200FF;
  border: none;
  border-radius: 2px;
  width: 90%;
  height: 59px;
  position: relative;
  left: -69%;
  top: 12%;
}