*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ipn {
    border: 2px solid;
    position: relative;
    left: 225px;
    top: 116px;
  }
  
  .red_border {
    border: 2px solid red;
  }
  
  .green_border {
    border: 2px solid green ;   
  }