* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  color: white;
}

.ipn {
  border: 2px solid;
  position: relative;
  left: 225px;
  top: 116px;
}

.red_border {
  outline-color: 2px solid red;
}

.green_border {
  outline-color: 2px solid green;
}

center {
  display: flex;
  justify-content: center;
}

form {
  margin: 47px;
  display: flex;
}

label {
  display: flex;
  width: 270px;
}

input {
  width: 272px;
  margin: 13px;
  height: 56px;
  border-radius: 3px;
}
.error-field {
  color: red !important;
}

p {
  font-size: 15px;
  display: flex;
  margin-left: 14px;
}

.error {
  background-image: url(../img_error/error\ warning.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

.login button {
  padding: 25px;
  background: #4200FF;
  border-color: #4200FF;
  border: none;
  border-radius: 2px;
  width: 90%;
  height: 59px;
  position: relative;
    left: -51%;
    top: 102%;
}
#name,#email,#age{
  border-color: #4200FF;
  overflow: #4200FF;
}
#About_you,#What_is_JavaScript,#What_is_HTML,#What_is_CSS{
  border-color: #4200FF;
  overflow: #4200FF;
}